html{
    font-family: 'RocknRoll One', sans-serif;
    background-color: #9CCFD8;
    color: #59546D
}
header, footer{
    background-color: #31748F;
    color: white;
}
aside{
    background-color: #E0DEF4;
    text-align: center;
}
img{
    opacity: 50%;
}
span{
    font-family: 'Send Flowers', cursive;
    font-weight: bold;
}
.navigation{
    list-style-type: none;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    justify-items: center;
    text-align: center;
}
.flex-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto;
    margin-bottom: 10px;
}
.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 640px){
    .navigation{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .grid-container{
        grid-template-columns: 1fr 1fr 200px;
        justify-content: center;
        grid-row: auto;
    }
    .images{
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}